.children{
    display: flex;
    justify-content: center;
}

.contactWrapper {
    margin: var(--side-margin);
    max-width: 1420px;
    text-align: center;
    display: grid;
    place-items: center; 
    padding: 200px 0;
} & input {
    border: none;
    background: none;
    border-bottom: 1px rgba(26, 54, 89, 0.27) solid;
    padding: 5px 0;
    color: var(--secondary-color);
    outline: none;
    font-family: var(--primary-font);
    font-size: 20px;
    width: 100%;
} 

.contactWrapper input::placeholder {
    color: var(--secondary-color);
    font-size: 18px;
}

.contactWrapper h1{
    font-size: 50px;
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 120px;
}

.contactWrapper form{
    max-width: 1420px;
    width: 100%;
    display: block;
}

.row{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


.messageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 100px;
}

/* .messageWrapper label {
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--secondary-color);
} */

.message {
    width: 100%;
    height: auto;
    min-height: 150px;
    border: none;
    background: none;
    border-bottom: 1px rgba(26, 54, 89, 0.27) solid;
    padding: 5px 0;
    color: var(--secondary-color);
    outline: none;
    font-family: var(--primary-font);
    font-size: 20px;
    resize: none;
}

.messageWrapper textarea::placeholder {
    color: var(--secondary-color);
    font-size: 18px;
}

.button {
    position: relative;
    background-color: var(--primary-color);
    border: none;
    height: 80px;
    width: 250px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    border-radius: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: auto;
}

.button:hover{
    background-color: #2D82C1;
}

.image {
    position: absolute;
    right: 20px;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.scroll {
    text-transform: uppercase;
    border: none;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: var(--blue-background);
    color: var(--secondary-color);
    font-size: 2.5vw;
    font-family: var(--font-primary);
}

.loading{
    width: 2em;
    height: 2em;
    border-color: white;
    border-top: none; 
    border: 2px solid;
    border-radius: 50%;
    animation: spin 1s linear infinite
}

@media (max-width: 1024px){
    .contactWrapper h1{
        font-size: 5vw;
    }

    .contactWrapper form{
        display: block;
    }
}

@media (max-width: 768px){
    .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .button {
        height: 20vw;
        width: 70vw;
        font-size: 6vw;
    }

    .image{
        height: 10vw;
        width: 10vw;
    }

    .image img{
        height: 5vw;
        width: 5vw;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
