.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-color);
    padding: 2rem;
    color: white;
    text-align: left;
    transition: transform 0.5s ease-in-out; 
    box-sizing: border-box;
    border-radius: 8px;
}

.card img {
    width: auto;
    margin-bottom: 1.5rem;
}

.card h4 {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.card p {
    color: var(--light-blue);
    font-size: 1em;
    text-align: left;
}

@media (max-width: 1024px) {
    .card {
        min-height: 300px;
        padding: 1.5rem;
    }

    .card h4 {
        font-size: 1.5em;
    }

    .card img {
        margin-bottom: 1rem;
    }

    .card p {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .card {
        min-height: 250px;
        padding: 1.2rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .card h4 {
        font-size: 1.3em;
        margin-top: 0;
    }

    .card img {
        margin-bottom: 1rem;
    }

    .card p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1rem;
        margin-bottom: 1.5rem;
        min-height: auto;
    }

    .card h4 {
        font-size: 1.1em;
    }

    .card p {
        font-size: 0.85em;
    }
}
