.wrapper {
    height: 100vh;
    overflow: hidden; 
    padding: var(--side-margin);
    /* background-image: url('/assets/images/background_banner.svg'); */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.innerWrapper {
    margin-top: auto; 
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
}

.innerWrapper p {
    font-size: 5.5vw;
    color: var(--light-blue);
}

