.wrapper {
    margin-bottom: 300px;
    max-width: 1420px;
    height: 400px;
}

.cardWrapper {
    display: flex; 
    justify-content: space-between; 
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    height: 100%;
    text-align: left;
    flex: 1; 
    transition: flex 0.3s ease, transform 0.3s ease; 
}

.card.expanded {
    flex: 2; 
}

.card h4 {
    margin-top: 20px;
    margin-bottom: 45px;
    font-weight: 500;
}

.button {
    background: none;
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}