.wrapper {
    margin-bottom: 300px;
    max-width: 1420px;
    height: auto; /* Allow height to adjust based on content */
}

.cardWrapper {
    display: flex; 
    justify-content: space-between; 
    height: 100%;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    min-height: 450px;
    height: auto; 
    text-align: left;
    flex: 1; 
    transition: flex 0.3s ease, transform 0.3s ease; 
    min-width: 300px;
    box-sizing: border-box; 
}

.card.expanded {
    flex: 2; 
}

.card h4 {
    margin-top: 20px;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 1.5em; /* Responsive font size can be adjusted */
}

.button {
    background: none;
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .wrapper {
        margin-bottom: 150px; /* Adjust margin */
    }

    .cardWrapper {
        justify-content: center; /* Center cards */
    }

    .card {
        padding: 20px; /* Reduce padding */
        min-width: 250px; /* Adjust minimum width */
    }

    .card h4 {
        font-size: 1.25em; /* Adjust font size */
        margin-bottom: 30px; /* Adjust margin */
    }

    .button {
        
        margin: 20px 0;
        height: 80px; /* Adjust button size */
        width: 80px; /* Adjust button size */
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-bottom: 100px; /* Further adjust margin */
    }

    .cardWrapper {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards */
    }

    .card {
        width: 100%; /* Full width for cards */
        max-width: 400px; /* Limit max width */
        margin-bottom: 20px; /* Space between stacked cards */
    }

    .card h4 {
        font-size: 1.1em; /* Adjust font size */
        margin-bottom: 20px; /* Adjust margin */
    }

    .button {
        margin: 20px 0;
        height: 60px; /* Adjust button size */
        width: 60px; /* Adjust button size */
    }
}

@media (max-width: 480px) {
    .wrapper {
        margin-bottom: 50px; /* Further adjust margin */
    }

    .card h4 {
        font-size: 1em; /* Adjust font size */
        margin-bottom: 15px; /* Adjust margin */
    }

    .button {
        height: 50px; /* Adjust button size */
        width: 50px; /* Adjust button size */
    }
}