.marquee{
    width: 100vw;
    left: 0;
    margin-bottom: 300px;
    overflow: hidden;
    white-space: no-wrap;
}

.marqueeItem{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10 0px;
    width: 110%;
    white-space: nowrap;
   
}

.marqueeContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10 0px;
    width: 110%;
    white-space: nowrap;
}

.marqueeWrapper{
    margin-bottom: 1vw;
}


