.header {
    padding: var(--side-margin);
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 100;
    background-color: var(--blue-background);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0;
}

.logo img{
    width: 15vw;
}

.wrapper nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-inline-start: 0; 
}

.wrapper nav ul li {
    list-style: none;
    font-family: var(--font-primary);
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--gray);
    text-transform: uppercase;
    display: grid;
}

.wrapper nav ul li a {
    text-decoration: none;
    color: var(--gray);
}

.wrapper nav ul li:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

.wrapper nav ul li:hover a {
    color: var(--secondary-color);
    font-weight: 600;
}

.active, .active a{
    color: var(--secondary-color) !important;
    font-weight: 600 !important;
}

.button {
    border: none;
    background-color: unset;
    font-family: var(--font-primary);
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--secondary-color);
}

.bannerTrue{
    color: var(--light-blue) !important;
    font-weight: 100 !important;
} & .bannerTrue a{
    color: var(--light-blue) !important;
}

